*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFF6;
    background-image: url(images/curr-bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;;
}

label.logo{
    margin-left: 90px;
}

nav{
    background: #F0F1F1;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%; 
}

.logo .menu-icon{
    color: #263A47;
    font-size: 60px;
    margin-left: 20px;
}

nav .sidebar{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 255px; 
    padding: 20px 0;
    background-color: #F0F1F1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

nav.open .sidebar{
    left: 0;
}

nav .sidebar .logo .logo-name1{
    font-family: 'Josefin Sans', sans-serif;
    color: #263A47;
    font-size: 40px;
    margin-left: 20px;
}

nav .sidebar .logo .menu-icon{
    color: #263A47;
    font-size: 40px;
}

.sidebar .sidebar-content{
    display: flex;
    height: 100%; 
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}

.sidebar-content .list{
    list-style: none;
}

.list .nav-link{
    display: flex;
    align-items: center;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}

.nav-link:hover{
    background-color: #8AC4E4;
    width: 230px;
}

.nav-link .icon{
    margin-right: 14px;
    font-size: 20px;
    color: #263A47;
}

.nav-link .link{
    font-size: 16px;
    color: #263A47;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.overlay{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
}

nav.open ~ .overlay{
    opacity: 1;
    left: 255px;
    pointer-events: auto;
}

.main{
    flex-grow: 1;
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 90%;
    max-width: 1024px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    animation: ease-in-out 2s;
}

.top_card{
    background-color: #F6AE2D;
    color: white;
    padding: 10px 20px;
    min-width: 400px;
}


.top_card p{
    color: white;
    margin-bottom: 2px;
    font-size: 0.8rem;
}

.top_card h3{
    font-size: 2rem;
}

.form{
    background-color: #F0F1F1;
    padding: 20px;
    width: 400px;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-top:10px;
    margin-bottom: 10px;
}

.radio {
    grid-template-columns: 1fr 1fr 1fr;
}

input{
    padding: 5px 10px;
}

.btn{
    width:100%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background-color: #263A47;
    color: white;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #3C5D72;
}


ul {
    list-style: none;
    width: 400px;
}

label{
    display: block;
    align-self: center;
}


.radio_group{
    display: flex;
    align-items: center;
    gap: 5px;
}

.transaction{
    margin: 10px 0;
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.income{
    background-color: #1C8D73;
}

.expense{
    background-color: #E6425E;
}

.transaction .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.link{
    background: none;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    transition: color 0.3s ease;
}

.link:hover{
    color: #d1f3ff;
}

.right p {
    font-size: 1.3rem;
}

.red {
    background-color:#E6425E !important;
}

#cancel_edit{
    display: none;
    margin-top: 10px;
    background-color:#E6425E !important;
}

#cancel_edit:hover{
    background-color:#9e1028 !important;
}

.second_heading{
    margin-top: 16px;
    margin-bottom: 10px;
    text-align: left;
}

@media (max-width: 450px) {
    .top_card, .form{
        min-width: 90%;
        width: 90%;
    }

    .form-group{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: stretch;
    }

    label{
        align-self: flex-start;
        margin-bottom: 5px;
    }

    .conatiner_of_list_of_transactions{
        width: 90vw;
    }

    ul{
        width: 90vw;
    }

    .transaction{
        width: 90%;
        margin: 10px auto;
        
    }

    *{
        font-size: 95% !important;
    }
}

@keyframes ease-in-out {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}